<head>
    <meta name="viewport" content="width=device-width" />
	  <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	  <!-- Optional theme -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src = "/javascripts/typed.js-master/typed.js"></script>
    <link rel="stylesheet" type="text/css" href="style/style2.css"/>
    <!--  Full Page Js -->
    <script type="text/javascript" src="/javascripts/fullPage.js-master/jquery.fullPage.js"></script>
</head>

<div id = "fullpage">
<div class = "section">
<div class = "gabe">
<div class="overlay">
     <center>
    <img class="logo" src="images/Logo.png" alt="code logo"/>
	</center>
	<center>
	  <img class="arrow" src="images/Arrow.svg" alt="arrow">
	  </center>
</div>
</div>
</div>
<div class="section">
<div class = "quote">
    <p id ="quotetext"> </p>
</div>
</div>
<div class = "section" ng-controller="mainController">
	<div class = "background">
        <div id="cover" ng-if="clicked" ng-view></div>
    	<div class="col-md-4 selector">
    		<center>
                <img src="/images/do.svg" id = "do">
    		</center>
    	</div>
        <div class="col-md-4 selector">
    		<center>
                <img src="/images/community.svg" id = "comm">
    		</center>
    	</div>
        <div class="col-md-4 selector" id = "last">
    		<center>
                <img src="/images/projects.svg" id = "projects">
    		</center>
        </div>
	</div>
	</div>
	</div>
	<script>
		$(document).ready(function() {
			$('#fullpage').fullpage({

				afterLoad: function(anchorLink, index){

				if(index == 2){
			 		$(function(){
			      		$("#quotetext").typed({
			      		  strings: ["Empowering Babson Entrepreneurs to build modern, world-changing and sustainable ventures."],
			       		 typeSpeed: 0
			     		 });
 		 			});
 				}
 				}
			})
	})

	</script>
</body>
