<!DOCTYPE html>
<html lang="en-us">
<head>

	<title>Babson Code</title>
	<link rel="stylesheet" type="text/css" href="style/style.css"/>
    <meta name="viewport" content="width=device-width"/>
</head>

<body>
  <a href="/#grid"> <div class="GreenBox">
       <div class="backarrow"> <img src="images/backarrow.svg"></div>
       <center> <img class="description" src="images/community.svg"> <h1>we do hella rad shit bro like you dont even fuckin know nigga</h1></center>
    </div>  </a>

     <div class="GreyBox">
        <img class="Community" src="images/people.png">
    </div>

    <div class="WhiteBox">
        <div class="namecontainer"><div class="name">Tyler Graybill,</div> <div class="name">Michael Daboll,</div><div class="name">Peter Sorensen,</div><div class="name">Sunny Saluja,</div><div class="name">Michael Losi,</div><div class="name">Arpit Bansal,</div><div class="name">Gabriel Ficht,</div><div class="name">Xudong Zheng,</div><div class="name">Eagle Wu,</div><div class="name">Jared Silver,</div><div class="name">Angelica Vasquez,</div><div class="name">April Chen,</div><div class="name">Jill Klinvex,</div><div class="name">Julie Ko,</div><div class="name">Amani Mehta,</div><div class="name">Waree Rungsiriwat,</div><div class="name">Abbygail Sardjono,</div><div class="name">Liam McCafferty,</div><div class="name">Valerie Tetu,</div><div class="name">Waseem Shabout,</div></div>
    </div>

    <div class="GreyBox">

    </div>




</body>
</html>
